

/*---------------Header---------------------*/



/*---------------Header---------------------*/


.logo{
	margin-left: 10px;
}
.row h3 {
	margin-top: 10px;
}
#hp {
	margin-top: 10px;
	color: #e8e8e8;
}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}