img {
  width: 100%;
  height: 100%;
}

.bg-black {
  background: #000;
}

.skill-block {
  width: 30%;
}

@media (min-width: 991px) and (max-width:1200px) {
  .skill-block {
    padding: 32px !important;
  }
}

@media (min-width: 1200px) {
  .skill-block {
    padding: 56px !important;
  }
}

body {
  background-color: #eeeeee;
}

#upload {
  position: relative;
  color: darkblue;
  margin: 4px;
  width: 82px;
 /* background-color: #234554;*/
  
}
#file {
  position: absolute;
  overflow: hidden;
  font-size: 20px;
  opacity: 0;
  right: 0;
  top: 0;
}

table{
  margin-left: 25px;
}

#detail, #atten{
  color: #33a39f;
  cursor: pointer;
}

.popup, .popup1{
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  max-height: auto;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.popup-content{
  /*height: 250px;*/
  width: 500px;
  background: #335d70eb;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.close, .close1{
  position: absolute;
  top: -15px;
  right: -15px;
  background: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}